@import 'variables';

.container-login {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    .login-container-gray {
        background-color: $green-dark;
        width: 30rem;
        margin: auto;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .img-login {
        width: 15rem;
        margin: auto;
        display: block;
    }
    .btn-warning {
        border: 1pt solid $brown;
    }
}
@media (max-width: 576px) { 
    .container-login .login-container-gray {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}